.home-container {
  display: flex;
}

.title {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
  color: #edebe9;
  font-family: sans-serif;
  margin-top: 20vh;
  margin-left: 10vw;
}

.title h1 {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  color: #edebe9;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;

  animation: typing 3.5s steps(30, end), blink-caret 0.6s step-end 6;
}

.title strong {
  color: #fba823;
  line-height: 0.7;
}

.illustration {
  margin-left: 5vw;
}

img {
  height: 95vh;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fba823;
  }
}
